<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="demo.compassites.mvpdemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".common.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".feature.products.view.ProductListActivity"
            android:label="products">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.products.view.ProductDetailActivity"
            android:label="@string/title_activity_product_detail_page"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <meta-data
            android:name="AA_DB_NAME"
            android:value="Product" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="4" />
        <meta-data
            android:name="AA_MODELS"
            android:value="demo.compassites.mvpdemo.feature.Products.model.database.Product" />
    </application>

</manifest>